html {
    font-family: "Segoe UI";
    background-color: rgb(37, 34, 34);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    height: 4.5rem;
    width: 28.3rem;
    font-size: 1.5rem;
    text-align: center;
    border-bottom-style: solid;
    border-width: 0.5rem;
    border-color: rgb(231, 167, 156);
}

.header-box {
    padding-left: 27.8rem;
}

.navigation {
    text-align: center;
    font-size: 1.4rem;
    word-spacing: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-style: solid;
    border-width: 3rem;
    border-color: rgb(231, 167, 156);
}

.footer {
    text-align: center;
}