html {
    font-family: "Segoe UI";
    background-color: rgb(37, 34, 34);
    color: white;
    text-align: center;
}

:root { /* used for css variables, makes it easier to get & read colours*/
    --rosegold: rgb(233, 169, 157);
}

body {
    margin:0; /*resets the standard margin and padding which the browser puts on by default*/
    padding:0;
}

a {
    color: white;
    text-decoration: none; 
}

.header {
    height: 4.5rem;
    width: 28.3rem;
    font-size: 1.5rem;
    border-bottom-style: solid;
    border-width: 0.5rem;
    border-color: var(--rosegold);
    margin: 0 auto; /*positions the header in the center*/
}

.header:hover {
    text-decoration: none;
}

.header_back {
    top: 0px;
    position: fixed;
    background-color: rgb(37, 34, 34);
    height: 5rem;
    width: 100%;
    z-index: -1;
}

.navigation {
    font-size: 1.4rem;
    word-spacing: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-style: solid; /*gives the bottom of the div a solid line as a border*/
    border-width: 2rem;
    border-color: var(--rosegold);
    background-color: rgb(37, 34, 34);
}

.footer {
    bottom: 0px;
    left: 30%;
    right: 30%;
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
    padding-top: 1.2rem;
}
.home {
    /*background-color: white;
    color: rgb(51, 49, 48);*/
    height: 75%;
    padding-bottom: 3rem;
}

.home_slide {
    object-fit: cover;
}

.more_button {  /* this section and the 2 below makes the link look like a button */
    background-color: var(--rosegold);
    color: white;
    padding: 11px 19px;
    margin-left: 10rem;
    margin-top: 30rem;
    font-size: 1.8rem;
    text-decoration: none;
    display: inline-block;
    border: none;
    opacity: 100%;
    position: absolute;
}

.more_button:hover {
    background-color: var(--rosegold);
    transform: scale(1.05, 1.05);
    transition-duration: 1s;
}

.learn {
    font-size: 1.2rem;
}

.all_switches {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: auto auto auto;
    padding: 1.5rem;
}

.switch_card {
    padding: 1rem;
    font-size: 2rem;
    border-style: solid;
    border-color: white;
    border-width: 0.35rem;
}

.switch_card:hover {
    color: var(--rosegold);
    border-color: var(--rosegold);
}

.switch_title {
    font-size: 3rem;
    font-weight: bold;
}

.switch_description {
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

.switch_info {
    font-size: 1.15rem;
    list-style-type: none; /*removes bullet points from lists*/
}

.cb-slideshow,
.cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -2; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; /*adds a pattern filter over the images*/
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute; /*remove these?*/
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -2;
    animation: imageAnimation 36s linear infinite 0s; /*animation lasts 36 seconds, runs in an infinite loop*/
}

.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 150px; /*30px*/
    left: 300px; /*0px*/
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; /*animation lasts 36 seconds, runs in an infinite loop*/
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 130px;
    padding: 0;
    line-height: 200px; 
}

/*define the background images for the spans, along with the animation delay*/
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/olivia.png) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/darling.png);
    animation-delay: 6s; /*2nd img plays 6 seconds in*/
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/noel.png);
    animation-delay: 12s; /*3rd img plays 12 seconds in (6sec after the 2nd)*/
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/striker.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/mizu.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../images/haku.jpg);
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}

/*slideshow opacity values are changed at certain times to match the transition*/
/*
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
*/
@keyframes imageAnimation { /*experimental animation, makes the slide images scale up and rotate*/
	0% {
	    opacity: 0;
        animation-timing-function: ease-in;
        transform: rotate(1deg);
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05) rotate(1deg);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1) rotate(1deg);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1) rotate(1deg);
	}
	100% { opacity: 0 }
}

/*
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
*/

@keyframes titleAnimation { /*this animation makes titles slide in from the right and disappear by sliding to the left*/
	0% {
	    opacity: 0;
	    transform: translateX(200px);
	}
	8% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	19% {
	    opacity: 0;
	    transform: translateX(-400px);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}

/*usedd for browsers which dont support animations, shows the last slideshow image with full opacity*/
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { /*changes the title font size when window is smaller*/
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}

.learn_header {
    font-size: 2rem;
    padding-top: 1rem;
}

.learn_left {
    font-size: 1rem;
    text-align: left;
    padding-left: 4rem;
}

.learn_right {
    font-size: 1rem;
    text-align: right;
    padding-right: 4rem;
}

.learn_right img {
    object-fit: cover;
    padding-right: 1rem;
    margin-top: 1rem;
    float: right;  /* keeps the image to the left */
}

.center_video {
    text-align: center;
}


#toc_container { /*table of contents on learn page*/
    background: rgb(37, 34, 34) none repeat scroll 0 0;
    border: 4px solid white;
    display: table;
    padding: 20px;
    width: auto;
    text-align: left;
    margin: 1rem 4rem; /*1rem top padding, 4rem left padding*/
}

.toc_title {
    font-weight: 700;
    text-align: center;
}