<title>Switch Station - Edit Switch</title>
{% extends 'layout.html' %}
{% block content %}
    <div class="learn_header">Edit Switch</div>

    <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <!--Forms for every field with titles, the span is for form errors-->
    <p>Name</p> <p>{{ form.name }} <span style="color:rgb(233, 169, 157)">{{ form.name.errors }}</span></p>
    <p>Manufacturer</p> <p>{{ form.manufacturer }} <span style="color:rgb(233, 169, 157)">{{ form.manufacturer.errors }}</span></p>
    <p>Style</p> <p>{{ form.style }} <span style="color:rgb(233, 169, 157)">{{ form.style.errors }}</span></p>
    <p>Color</p> <p>{{ form.color }} <span style="color:rgb(233, 169, 157)">{{ form.color.errors }}</span></p>
    <p>Description</p> <p>{{ form.description }} <span style="color:rgb(233, 169, 157)">{{ form.description.errors }}</span></p>
    <p>Cost</p> <p>{{ form.cost }} <span style="color:rgb(233, 169, 157">{{ form.cost.errors}}</span></p>
    <p>Actuation Force</p> <p>{{ form.actuation }} <span style="color:rgb(233, 169, 157)">{{ form.actuation.errors }}</span></p>
    <p>Bottom-Out Force</p> <p>{{ form.bottomout }} <span style="color:rgb(233, 169, 157)">{{ form.bottomout.errors }}</span></p>
    <p>Pretravel (mm)</p> <p>{{ form.pretravel }} <span style="color:rgb(233, 169, 157)">{{ form.pretravel.errors }}</span></p>
    <p>Total Travel (mm)</p> <p>{{ form.totaltravel }} <span style="color:rgb(233, 169, 157)">{{ form.totaltravel.errors }}</span></p>
    <input type="submit" value="Submit Edits">
    </form>
{% endblock %}