<title>Switch Station - learn</title>
{% extends 'layout.html' %}
{% block content %}
<div class="learn">
    <div class="learn_header">
        Why Mechanical Keyboards?
    </div>
    <div class="learn_left">
        aaaaa aaaaaa aaaaaaa aaaaaaa aaaaaa aaaaaa aaaaaa
    </div>
    <div class="learn_right">
        <img src="/static/images/PogTaeha.jpg", alt="All brass Think6.5 built by TaehaTypes">
    </div>
    <div id="toc_container"> <!--table of contents-->
        <p class="toc_title">Contents</p>
        <ul class="toc_list">
            <li><a href="#First_Point_Header">Why Mechanical Keyboards?</a></li> <!--clicking link brings user to the first point, etc-->
            <li><a href="#Second_Point_Header">What are Mechanical Keyboards?</a></li>
            <li><a href="#Third_Point_Header">The World of Custom Keyboards</a></li>
            <li><a href="#Fourth_Point_Header">Parts of a Mechanical Keyboard</a></li>
            <ul>
                <li><a href="#First_Sub_Point_1">Switches</a></li> <!--sub headings under the main header-->
                <li><a href="#First_Sub_Point_2">Keycaps</a></li>
                <li><a href="#First_Sub_Point_3">Plate</a></li>
                <li><a href="#First_Sub_Point_4">Stabilizers</a></li>
                <li><a href="#First_Sub_Point_5">PCB</a></li>
                <li><a href="#First_Sub_Point_6">Case</a></li>
            </ul>
            <li><a href="Fifth_Point_Header">Putting a Mechanical Keyboard together</a></li><!--might remove this-->
        </ul>
    </div>

    <div class="learn_header">
        <div id="First_Point_Header">Why Mechanical Keyboards?</h2> <!--link to here with a href="#First_Point_Header"-->
    </div>
    <div class="learn_left">
        With the rise the digital era, keyboards are one of the main ways we have of interacting
        with technology. For such important devices which most people spend hours a day in front of,
        they are often <br>
    </div>

    <div class="center_video"> <!--why mechanical keyboards video by taeha-->
        <iframe width="420" height="315" src="https://www.youtube.com/embed/Qr3nYR15wxU">
        </iframe>
    </div>

    <div class="learn_header">
        <div id="Second_Point_Header">What are Mechanical Keyboards?</div>
    </div>
    <div class="learn_left">
        Expensive rectangle
    </div>

    <div class="learn_header">
        <div id="Third_Point_Header">The World of Custom Keyboards</div>
    </div>
    <div class="learn_left">
        Poverty
    </div>

    <div class="learn_header">
        <div id="Fourth_Point_Header">Parts of a Mechanical Keyboard</div>
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_1">Switches</div>
    </div>
    <div class="learn_left">
        switch
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_2">Keycaps</div>
    </div>
    <div class="learn_left">
        gmk or bust
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_3">Plate</div>
    </div>
    <div class="learn_left">
        brass is bad
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_4">Stabilizers</div>
    </div>
    <div class="learn_left">
        holee mushee
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_5">PCB</div>
    </div>
    <div class="learn_left">
        Check your pcbs first
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_6">Case</div>
    </div>
    <div class="learn_left">
        Alu prem
    </div>

    <div class="learn_header">
        <div id="Fifth_Point_Header"></div>
    </div>
    <div class="learn_left">
        Something
    </div>
</div>
{% endblock %}