<title>Switch Station - learn</title>
{% extends 'layout.html' %}
{% block content %}
<div class="learn">
    <div class="learn_header">
        Mechanical Keyboards
    </div>
    <br>
    <div class="learn_right">
        <img src="/static/images/PogTaeha.jpg", alt="All brass Think6.5 built by TaehaTypes">
    </div>
    <div id="toc_container"> <!--table of contents-->
        <p class="toc_title">Contents</p>
        <ul class="toc_list">
            <li><a href="#First_Point_Header">Why Mechanical Keyboards?</a></li> <!--clicking link brings user to the first point, etc-->
            <li><a href="#Second_Point_Header">What are Mechanical Keyboards?</a></li>
            <li><a href="#Third_Point_Header">The World of Custom Keyboards</a></li>
            <li><a href="#Fourth_Point_Header">Parts of a Mechanical Keyboard</a></li>
            <ul>
                <li><a href="#First_Sub_Point_1">Switches</a></li> <!--sub headings under the main header-->
                <li><a href="#First_Sub_Point_2">Keycaps</a></li>
                <li><a href="#First_Sub_Point_3">Plate</a></li>
                <li><a href="#First_Sub_Point_4">Stabilizers</a></li>
                <li><a href="#First_Sub_Point_5">PCB</a></li>
                <li><a href="#First_Sub_Point_6">Case</a></li>
            </ul>
            <li><a href="Fifth_Point_Header">Putting a Mechanical Keyboard together</a></li><!--might remove this-->
        </ul>
    </div>

    <div class="learn_header">
        <div id="First_Point_Header">Why Mechanical Keyboards?</h2> <!--link to here with a href="#First_Point_Header"-->
    </div>
    <div class="learn_left">
        With the rise the digital era, keyboards were made as one of the main ways we have of interacting
        with technology. Yet despite being such important devices which many people spend hours a day in front of,
        they are often brushed aside as nothing worth paying attention to. In fact, despite our society making
        numerous advancements in technology in almost every field, keyboards are actually one of the things which 
        we have downgraded in over time-favoring cheapness and mass production over high quality.<br>
    </div>

    <div class="center_video"> <!--why mechanical keyboards video by taeha-->
        <iframe width="420" height="315" src="https://www.youtube.com/embed/Qr3nYR15wxU">
        </iframe>
    </div>

    <div class="learn_header">
        <div id="Second_Point_Header">What are Mechanical Keyboards?</div>
    </div>
    <div class="learn_left">
        Mechanical keyboards are devices which use mechanical key switches to register key presses. 
        This differs from most common keyboards seen today, which use a "membrane" that uses a linked pressure 
        pad to register keypresses, rather than individual switches.
    </div>

    <div class="learn_header">
        <div id="Third_Point_Header">The World of Custom Keyboards</div>
    </div>
    <div class="learn_left">
        When it comes to custom keyboards, the main benifits come from the improved typing feel, sound, and 
        aesthetic. Thanks to it being custom, there is an almost unlimited amount of ways for people to customise
        their keyboards in the exact way they want. Custom keyboards are almost entirely community made, with new
        people in the community designing and making new options almost every day.
    </div>

    <div class="learn_header">
        <div id="Fourth_Point_Header">Parts of a Mechanical Keyboard</div>
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_1">Switches</div>
    </div>
    <div class="learn_left">
        Switches put the ‘mechanical’ in ‘mechanical keyboards’ and make up the backbone of this entire passion. 
        These little mechanisms have just as much character as keycaps and cases, despite being largely unseen, 
        and understanding what goes into them is important to understanding how keyboards work. 

        A keyboard switch is the little component that sits underneath the keycap and connects to the keyboard PCB. 
        On a mechanical keyboard, every key has its own switch.

        Switches vary in how they look, sound, and feel. Most of the time, you won't see them—but they play a big 
        role in how your keyboard sounds and feels when you use it.

        Switches are generally categorized into 3 types that indicate their design: Tactile, Linear, and Clicky.

        Tactile: has a tactile bump during the keypress before bottom-out

        Linear: has an smooth keypress with no tactile bump

        Clicky: has a tactile bump and an audible click sound

        Switch Parts:
        Housing

        The housing includes the base housing and top housing. 

        The base housing has two pins that slot into the PCB. They need to be soldered in most cases—if a keyboard is 
        “hotswap,” that means soldering isn’t needed. 

        Switches can be either plate mount or PCB mount: a PCB mount switch has two additional plastic legs that 
        secure it into the PCB.

        Stem

        The stem sits within the switch housing and on the spring, while the ‘+’ extrusion locks into the bottom of 
        a keycap. The two legs help determine the switch’s level of tactility as it comes into contact with the metal leaf.

        Spring

        The spring sits on the base housing pole and supports the stem’s vertical movement. Springs come in a wide 
        range of weights, with heavier springs requiring more strength for a keypress.

        Metal Leaf

        When a switch is pressed, the stem presses into the metal leaf that sits in the bottom housing. The connection 
        registers the keypress onto the PCB, allowing those magical symbols to show up on your computer.


        Modifying Switches
        Now that we’ve got the basics down on the core differences and parts that make up a particular switch, let’s have 
        a quick look at the various ways switches are modified to further personalize them.

        Lube
        The first mod that enthusiasts often do, even on their first build, is applying a lubricant to switch components. 
        Depending on the type of lube that is used, the switch feel, sound, and even weight can be drastically transformed.

        Switch Films
        Switch films are a thin film applied on the base of the switch and sandwiched between the base and the top housing. 
        This tightens the fit between the two parts to reduce wobble, affecting the feel and sound.

        Springs
        Changing the stock spring in a switch is an easy way of changing the switch feel. Alternative springs come in 
        different materials, weights, and even a progressive choice. 
        
        - Keyboard University
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_2">Keycaps</div>
    </div>
    <div class="learn_left">
        Keycaps are the face of any keyboard and are one of the more impactful factors on sound, feel, look, and the 
        overall experience of the board. These little rectangles pack in a tremendous amount of choice and consideration, 
        so it’s important to understand the various factors before choosing how to outfit any build. 

        Keycaps are the plastic caps that cover each individual key, and make up much of a keyboard’s aesthetics.

        They’re one of the main ways you can customize your keyboard. If you have a mechanical keyboard, switching 
        out your keycaps is simply a matter of pulling them off your board and putting on new ones.

        Keycaps vary in size, shape, colour, and plastic, in addition to the characters and words printed on them.

        A keycap’s profile refers to its shape. Though many keycaps look similar in their top-down view, their 
        height can vary and your fingers can feel the difference in shape.
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_3">Plate</div>
    </div>
    <div class="learn_left">
        In a mechanical keyboard, the plate is used to hold switches and keep them stable. 
        Changing the material of the plate makes a big difference in both the sound and feel of 
        the board.

        Examples of plate materials:

        - Polycarbonate (PC)
        This plate material provides the softest feel, along with a deep sound signature.

        -FR4
        This material is the same one which PCBs are made from. They produce a deep sound and flexible feel,
        though typically not as much as PC

        -Aluminium
        This material is considered a middle ground in terms of feel and sound. 

        -Brass
        This plate is extremely stiff and high pitched
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_4">Stabilizers</div>
    </div>
    <div class="learn_left">
        Stabilizers (often called 'stabs') are keyboard parts that prevent larger keys from wobbling when 
        pressed, and help bind the keycap to the switch. They sit next to the keyboard switch to stabilize 
        the keycap when you press it.

        Most keyboards require multiple stabilizers, since most will have multiple large keys. Keys that 
        are 2u or larger need a stabilizer. These usually include keys like the shift keys, backspace, 
        enter/return key, and spacebar.
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_5">PCB</div>
    </div>
    <div class="learn_left">
        The PCB (Printed Circuit Board) is the heart of the keyboard, fitting all of the needed 
        electronics, as well as the switches on it. PCBs can come in either soldered or hotswap variants. 
        Soldered requiring all switches to be soldered in to the board, and hotswap allowing switches to be
        easily placed on and taken off at any time. Some PCBs may support bluetooth, although it is extremely 
        uncommon and seen only to budget keyboards.
    </div>

    <div class="learn_header">
        <div id="First_Sub_Point_6">Case</div>
    </div>
    <div class="learn_left">
        The case of the keyboard is extremely important to the identity of the keyboard, changing the feel,
        acoustics and of course, aesthetic of the keyboard. Higher end cases are typically all made with 
        aluminium, although polycarbonate is also common as a side option. For cheaper boards, PC, ABS plastics
        as well as acrylic are all common materials for the case.
    </div>

    <div class="learn_header">
        <div id="Fifth_Point_Header">Putting a Mechanical Keyboard together</div>
    </div>
    <div class="learn_left">
        There are a range of different ways to mount the plate and pcb assembly to the case.
        This ends up having a large influence on the feel and often sound of the 
        keyboard, with it being up to the keyboard designer to choose what mount to design the keyboard for.
        <br>
        <img src="/static/images/keyboardMounts.png", alt="Diagram of different mounting methods by Thomas Baart">
    </div>
</div>
{% endblock %}