<title>Switch Station - {{prebuilt.name}}</title>
{% extends 'layout.html' %}
{% block content %}
    <div class="prebuilt_image">
        <img src="/static/images/{{prebuilt.image}}.jpg">
    </div>
    <div class="switch_title">
        {{prebuilt.name}}
    </div>
    <div class="switch_description">
        {{prebuilt.description}}
    </div>
    <div class="switch_info">
        <table style="width:50%">
            <tr>
                <td>{{prebuilt.layout}} Layout</td>
            </tr>
            <tr>
                <td>Brand: {{prebuilt.brand}}</td>
            </tr>
            <tr>
                <td>Hot-swap: {{prebuilt.hotswap}}</td>
            </tr>
            <tr>
                <td>RGB: {{prebuilt.rgb}}</td>
            </tr>
        </table>

        <br>Available switches:
        {% for switch in prebuilt.switches %}
            <li>{{ switch.name }}</li>
        {% endfor %}
    </div>
{% endblock %}