<title>Switch Station - {{prebuilt.name}}</title>
{% extends 'layout.html' %}
{% block content %}

    <div class="PrebuiltImage"> <!--background image of prebuilt-->
        <img src="/static/images/{{prebuilt.image}}.jpg">
    </div>

    <div class="SwitchTitle">
        {{prebuilt.name}}
    </div>

    <div class="SwitchDescription">
        {{prebuilt.description}}
    </div>

    <div class="SwitchInfo">
        <table style="width:50%">
            <tr>
                <td>{{prebuilt.layout}} Layout</td>
            </tr>
            <tr>
                <td>Brand: {{prebuilt.brand}}</td>
            </tr>
            <tr>
                <td>Hot-swap: {{prebuilt.hotswap}}</td>
            </tr>
            <tr>
                <td>RGB: {{prebuilt.rgb}}</td>
            </tr>
        </table>

        <br>Available switches: <!--Get switches associated with prebuilt from the intermediate table-->
        {% for switch in prebuilt.switches %}
            <li>{{ switch.name }}</li>
        {% endfor %}
    </div>

{% endblock %}