<title>Switch Station - {{switch.name}}</title>
{% extends 'layout.html' %}
{% block content %}
    <div class="SwitchImage"> <!--Icon of switch clipart in background-->
        <img src="/static/images/switchIcon.png">
    </div>

    <div class="SwitchTitle">
        {{switch.name}}
    </div>
    
    <!--button which leads to respective switch edit page-->
    <a href="/switch/{{switch.id}}/edit"><button class="MoreButton">Edit Switch</button></a>

    <div class="SwitchDescription">
        {{switch.description}}
    </div>

    <div class="SwitchInfo"> <!--switch information shown here, query results-->
        <table style="width:50%"> <!--info is displayed in a table-->
            <tr>
                <td>{{switch.style}} Switch</td>
            </tr>
            <tr>
                <td>Manufacturer: {{switch.manufacturer}}</td>
            </tr>
            <tr>
                <td>Actuation: {{switch.actuation}}g</td>
            </tr>
            <tr>
                <td>Bottom-out: {{switch.bottomout}}g</td>
            </tr>
            <tr>
                <td>Pre-travel: {{switch.pretravel}}mm</td>
            </tr>
            <tr>
                <td>Total-travel: {{switch.totaltravel}}mm</td>
            </tr>
            <tr>
                <td>Cost: ${{switch.cost}}USD per switch</td>
            </tr>
        </table>
    </div>

{% endblock %}