<title>Switch Station - {{switch.name}}</title>
{% extends 'layout.html' %}
{% block content %}
    <div class="SwitchImage">
        <img src="/static/images/switchIcon.png">
    </div>

    <div class="SwitchTitle">
        {{switch.name}}
    </div>
    
    <!--button which leads to respective switch edit page-->
    <a href="/switch/{{switch.id}}/edit"><button class="MoreButton">Edit Switch</button></a>

    <div class="SwitchDescription">
        {{switch.description}}
    </div>
    <div class="SwitchInfo">
        {{switch.style}} Switch<br>
        Manufacturer: {{switch.manufacturer}}<br>
        Actuation: {{switch.actuation}}g<br>
        Bottom-out: {{switch.bottomout}}g<br>
        Pre-travel: {{switch.pretravel}}mm<br>
        Total-travel: {{switch.totaltravel}}mm<br>
        Cost: ${{switch.cost}}USD per switch
    </div>
{% endblock %}