<title>Switch Station - {{switch.name}}</title>
{% extends 'layout.html' %}
{% block content %}
    <div class="switch_title">
        {{switch.name}}
    </div>
    <div class="switch_description">
        {{switch.description}}
    </div>
    <div class="switch_info">
        {{switch.style}} Switch<br>
        Manufacturer: {{switch.manufacturer}}<br>
        Actuation: {{switch.actuation}}g<br>
        Bottom-out: {{switch.bottomout}}g<br>
        Pre-travel: {{switch.pretravel}}mm<br>
        Total-travel: {{switch.totaltravel}}mm<br>
        Cost: ${{switch.cost}}USD per switch
    </div>
{% endblock %}